@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');
:root{
    --background: #e6d4d4;
    --cor1: #8D5253;
    --cor2: #8d525313;
    --corbotao: #8d525350;

}
body{
    background-color: var(--background);
    font-family: 'Raleway', sans-serif;
}
#header{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid var(--cor1);
}
#header h1 {
margin-bottom: 0;
    font-weight: 300;
    font-size: 2em;
    color: var(--cor1);
}

#logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar{
    padding: 10px;
    margin: 10px auto;
}
#navbar a{
    width: 95px;
    color: var(--cor1);
    text-decoration: none;
    font-weight: 300;
    padding: 5px;
    text-align: center;
}
#navbar a:hover{
    transition: .5s;
    text-decoration: underline;
    text-shadow: 0px 0px 5px 2px black;
    color:var(--cor1)

}
/* Main */
.sobre h2{
    font-weight: 900;
}
.sobre p{
    font-size: 1.2em;
}
#aboutme{
    background: rgba( 224, 202, 202, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#about{
    padding: 50px 100px;
    
}
.col-xxl-6{
    overflow: hidden;
    text-align: center;
    background-color: var(--cor2);
    
}
.col-6 img, .col-xxl-6 img{
    width: 100%;
    
}
@media only screen and (max-width: 1400px){
    .col-6 img, .col-xxl-6 img{
        display: none;
    }

    .col-6, .col-xxl-6{
        background-image: url(Imagens/Paula-sobre.jpg);
        background-size: cover;
        color: white;
        
        
    }
    .sobre h2,p{
        background-color: #3a3a3a67;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
    }
}
@media only screen and (max-width: 750px){
    #about{
        padding: 10px;
    }
}
/* FOOTER */
footer{
    border-top: 1px solid var(--cor3);
    height: 250px;
    padding: 30px;
}
footer i {
    font-size: 30px;
    padding: 3px 5px ;
    border-radius: 10px;
    
}
#social-icons-container{
    padding: 25px;
}
.bi-whatsapp{
    color: #189D0E;
}
.bi-instagram{
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;;
    
}
#social-icons-container div{
    text-align: center;
}
footer p,
footer h3{
    text-align: center;
    margin: 15px;
}
footer i:hover{
    text-decoration: underline;
}