@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');
:root{
    --background: #e6d4d4;
    --cor1: #8D5253;
    --cor2: #8d525313;
    --corbotao: #8d525350;

}
body{
    background-color: var(--background);
    font-family: 'Raleway', sans-serif;
}
#header{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid var(--cor1);
}
#header p {
margin-bottom: 0;
    font-weight: 300;
    font-size: 2em;
    color: var(--cor1);
}

#logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar{
    padding: 10px;
    margin: 10px auto;
}
#navbar a{
    width: 90px;
    color: var(--cor1);
    text-decoration: none;
    font-weight: 300;
    padding: 5px;
    text-align: center;
}
#navbar a:hover{
    transition: .5s;
    text-decoration: underline;
    text-shadow: 0px 0px 5px 2px black;
    color:var(--cor1)

}
/* Carousel */
#caroulselbg{
    position: absolute;
    background-color: rgba(66, 52, 52, 0.021); /*apagar apos media query */
    width: 100%;
    height: 100vh;
    padding:0;

}
#carouselsize{
    position: relative;
    width: 100%;
   
}
.carousel-item{
    position: relative;
    height: 100vh;
    background-size: cover;
}
.carousel-item img{
    width: 100vh;
    
    
    
}
.carousel-caption .carouselbtn{
    background-color: black;
    color: white;
}
/* Gallery */
.img1{
    
    background-color: #000000; /* Used if the image is unavailable */
     opacity: 90%;
}

.img1:hover{
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    opacity: 100%;
}

#gallery-container{
    margin-top: 50px;
    background: rgba( 224, 202, 202, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
   
}

#gallery-container h1{
    padding-top:20px;
    text-align: center;
}
#gallery-container h1, #gallery-container .col-md-6, #gallery-container .col-12{
    margin-bottom: 50px;
}
.small-image-container{
    height: 400px;
    margin-bottom: 20px;
    overflow: hidden;
}
.small-image-container img {
    width: 100%;
    height: auto;
    opacity: 90%;
    position: relative;
    bottom: 90px;
   
    
}
.btn{
    padding: 10px;
    background-color:var(--cor2);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1)
}
.btn:hover{
    transition: .5s;
    background-color:var(--corbotao);
    text-decoration: underline;
}
/* FOOTER */
footer{
    border-top: 1px solid var(--cor3);
    height: 250px;
    padding: 30px;
}
footer i {
    font-size: 30px;
    padding: 3px 5px ;
    border-radius: 10px;
    
}
#social-icons-container{
    padding: 25px;
}
.bi-whatsapp{
    color: #189D0E;
}
.bi-instagram{
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

 
}
#social-icons-container div{
    text-align: center;
}
footer p,
footer h3{
    text-align: center;
    margin: 15px;
}
footer i:hover{
    text-decoration: underline;
}